@import "compass";
@import "compass/reset";
@import "compass/css3";
@import "susy";
@import "breakpoint";

@import "mixins";
@import "icons";
@import "octicons";

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700);

$susy: (
	container: 100%,
	columns: 12,
	global-box-sizing: border-box
);

$bp-small: 48em;
$bp-medium: 60em;
$bp-large: 80em;

$breakpoint-no-query-fallbacks: true;

@include border-box-sizing;

//$sidebar-background-color: #CA293E;
$sidebar-background-color: #37474f;
//$sidebar-background-color: #4577B0;
$content-background-color: #eee;
$print-sidebar-color: #ccc;
body {
	background-color: $sidebar-background-color;
	font-family: 'Open Sans', sans-serif;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	@media print {
	    /* this affects the margin in the printer settings */ 
	    margin: 0mm;  
	}
}

strong {
	font-weight: 600;
}
a {
	color: #333;
	text-decoration: none;
	border-bottom: 1px dashed #aaa;
	&:hover {
		color: #000;
		border-bottom: 1px dashed #999;
	}
}

.page {
	@include container();
	background-color: $content-background-color;
	color: #000;
	min-height: 100%;
	position: relative;

}

.page__sidebar {
	@include span(12 last); 
	padding: 2rem span(1);

 	@include box-shadow(#333 0px 0px 15px);
	@include susy-breakpoint($bp-large, $susy) {
		@include span(3 first);
		top: 0;
		left: 0;
		bottom: 0;
		position: fixed;
		padding: 2rem span(1 of 24);
	}
	@include susy-breakpoint($bp-medium, $susy) {
                @include span(4 first);
                top: 0;
                left: 0;
                bottom: 0;
                position: fixed;
                padding: 2rem span(1 of 24);
	}

	background-color: $sidebar-background-color;
	@include background-image(linear-gradient(left, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)));
	font-weight: 300;
	color: $content-background-color;
	@media print {
		background-color: $print-sidebar-color;
		color: #000;
                @include background-image(none);
	}
}

.page__content {
	@include span(12 last); 
	padding: 2rem span(1);

	@include susy-breakpoint($bp-large, $susy) {
		@include span(9 last);
		padding: span(1 of 24);
	}
	@include susy-breakpoint($bp-medium, $susy) {
		@include span(8 last);
                padding: span(1 of 24);
	}

	.box {
		@include span(4);
		&.box3 {
			@include span(4 last);
		}
	}
	
	@media print {
		background-color: #ffffff;
	}
}

header {
	margin-bottom: 2rem;
	/*text-shadow: 0 1px 1px #444;*/
	h1 {
		font-size: 2.6rem;
	}
	h2 {
		font-size: 1.3rem;
		font-weight: 300;
		line-height: 1;
	}
}

.page__sidebar section {
	margin: 1rem 0 2rem;
	h2 {
		text-transform: uppercase;
		font-weight: 400;
		font-size: 1.2rem;
		line-height: 1.4rem;
		margin-bottom: 1.5rem;

		[class^="mdi-"], [class*=" mdi-"] {
			display: block;
			float: left;
			margin-right: 0.6rem;
			background-color: $content-background-color;
			color: $sidebar-background-color;
			border-radius: 50%;
			text-align: center;
			font-size: 0.9rem;
			line-height: 1.4rem;
			width: 1.4rem;
			height: 1.4rem;
 			@media print {
                        	background-color: #000;
				color: $print-sidebar-color;
                        }

		}
	}
	p {
		font-size: 0.9rem;
		font-weight: 300;
		line-height: 1.3;
		margin: 0 0 1.5rem;
	}
	&#contact {
		p {
			margin: 0 0 0.25rem 0.25rem;
			line-height: 1.4rem;

			[class^="mdi-"], [class*=" mdi-"], .octicon {
				display: block;
				float: left;
				margin-right: 0.3rem;
				font-size: 0.9rem;
				line-height: 1.4rem;
				width: 1.4rem;
				height: 1.4rem;

			}
			a { 
				color: $content-background-color;
				@media print {
					color: #000;
				}
			}
		}
	}
}

.page__content section {
	margin: 1rem 0 2rem;
	h2 {
		text-transform: uppercase;
		font-weight: 400;
		font-size: 1.5rem;
		line-height: 2.2rem;
		margin-bottom: 1rem;
		color: $sidebar-background-color;
		@media print {
			color: #000;
		}

		[class^="mdi-"], [class*=" mdi-"] {
			display: block;
			float: left;
			margin-right: 1rem;
			background-color: $sidebar-background-color;
			color: $content-background-color;
			border-radius: 50%;
			text-align: center;
			font-size: 1.3rem;
			line-height: 2.2rem;
			width: 2.2rem;
			height: 2.2rem;
 @media print {
                                background-color: #000;
                                color: #fff;
                        }

		}
	}
	article {
		@include container();
		@include clearfix();
		margin: 0 1rem 3rem 3.2rem;
		/*margin: 2rem 0 3rem;
		@include susy-breakpoint($bp-large, $susy) {
			margin: 1rem 1rem 3rem 3.2rem;
		}*/

		div { 
			page-break-inside: avoid; 
			float: left;
			clear: both;
		}

		h3 {
			text-transform: uppercase;
			font-size: 1.4rem;
			font-weight: 400;
			color: #333;
			margin: 0 0 0.5rem;
		}
		h4 {
			@include span(12);
			font-size: 1rem;
			font-weight: 400;
			color: #333;
			margin: 1rem 0 0;
		}
		h5 {
			@include span(12);
			font-size: 0.85rem;
			font-weight: 400;
			color: #333;
			margin: 1rem 0 0;
		}
		ul {
			@include span(12);
			list-style-type: disc;
			list-style-position: outside;
			font-size: 0.8rem;
			margin: 0.75rem 0 0;
			li {
				margin: 0 0 0.25rem 1rem;
				padding-left: 0.5rem;
			}
			&.spaced li {
				margin: 0 0 0.5rem 1rem;
			}
		}
		.metadata {
			@include span(12);
			margin: 0 0 0.5rem;

			@include susy-breakpoint($bp-large, $susy) {
				@include span(4);
			}

			font-size: 0.8rem;
			line-height: 1rem;
			font-weight: 400;

			[class^="mdi-"], [class*=" mdi-"] {
				display: block;
				float: left;
				margin-right: 0.4rem;
				color: #000;
				font-size: 1rem;
			}
		}
		.description {
			@include span(12);
			margin: 1rem 0 0;
			font-size: 0.9rem;

		}
	}
}

#header-What\ is\ this\? {
	@media print {
		display: none;
	}
}

#education {
	article {
		page-break-inside: avoid;
	}
}
